:root{
    --main_color:rgb(10, 30, 60, 0.8);
    --dark:rgb(0, 9, 87);
    --highlight_1:rgb(52, 76, 183);
    --highlight_2:rgb(87, 123, 193);
    --yellow:rgb(255, 255, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #4a81ce 0%, #1d3553 50%, #072044 100%);
    color: #ffffff;
    line-height: 1.6;
}

/* Header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(10, 30, 60, 0.774);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 1rem 5%;
    height: 10vh;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.logo img {
    height: 40px;
    filter: brightness(0) invert(1) drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
    transition: filter 0.3s ease;
}

.logo img {
    transition: filter 0.3s ease, transform 0.3s ease;
}

.logo img:hover {
    filter: brightness(0) invert(1) drop-shadow(0 0 10px rgba(255, 255, 255, 0.9));
    transform: scale(1.1);
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    transition: color 0.3s ease;
}

.nav-links a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    transition: 1s;
}

.nav-links a:hover::after {
    width: 100%;
}

/* Car Models Section */

.car-models{
    padding: 8rem 0;
    height: 125vh;
}

.car-models h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.356);
}

.model-grid {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 80vh;
    gap: 60px;
    max-width: 80%;
    margin: 0 auto;
}

.model {
    position: relative;
    box-shadow: none;
    overflow: hidden;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.model1::before,
.model2::before,
.model3::before,
.model4::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.3s ease-in-out;
}



.model1::before {
    content: "Ultimate Series";
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.356);
}
.model2::before {
    content: "Sports Series";
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.356);
}
.model3::before {
    content: "Super Series";
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.356);
}
.model4::before {
    content: "Legacy Models";
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.356);
}

.model:hover::before {
    opacity: 1;
}












.model img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.model1, .model2 {
    grid-row: 1;
}

.model3, .model4 {
    grid-row: 2;
}

.model:hover img {
    transform: scale(1.1);
    filter: blur(2px);
    transition: transform 0.3s ease-in-out;
}

.model img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.scroll-down{
    position: absolute;
    height : 150px;
    width: 80px; 
    border-radius: 10px;
    border: 2px solid var(--yellow);
    background-color: var(--dark);
    color: white;
    left: calc(50% - 40px);
    rotate: 10deg;
    top: calc(50% + 70px);
}

.scroll-down::after{
    content: '';
    position: absolute;
    top: 80%;
    left: 50%;
    width: 20px;
    height: 20px;
    border-left: 2px solid var(--yellow);
    border-bottom: 2px solid var(--yellow);
    transform: translate(-50%, -50%) rotate(-45deg);
    animation: scroll-arowhead 1s infinite;
}

@keyframes scroll-arowhead{
    0%{
        top: 70%;
        left: 50%;
    }
    50%{
        top: 75%;
        left: 50%;
    }
    100%{
        top: 70%;
        left: 50%;
    }
}

.scroll-down:hover{
    background-color: var(--yellow);
    border: 2px solid var(--dark);
    color: var(--dark);
    transition: scale 0.3s ease-in-out;
    scale: 110%;
}

.scroll-down:hover::after{
    border-left: 2px solid var(--dark);
    border-bottom: 2px solid var(--dark);
}


/*.model-container{    
    position: absolute;
    top: -1000px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    z-index: 1000;
    height:fit-content ;
    margin: 30px;
    box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.423);
    border-radius: 10px;
}
*/

.model-menu{
    display: flex;
    max-width: fit-content;
    height: fit-content;
    align-items: first baseline;
    flex-direction: column;
    padding: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    gap: 10px;
}

.model-menu .main-content{
    height: 600px;
    width: 1200px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.356);
    border-radius: 10px;
    background: linear-gradient(-135deg, rgba(24,19,109,1) 0%, rgba(9,9,121,1) 46%, rgba(15,80,135,1) 100%);
    border: 2px solid var(--highlight_2);
    z-index: 1;
}

.model-container .close-button{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: white;
    background-color: #072044;
    border: 2px solid var(--yellow);
    border-radius: 50%;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    z-index: 1;
}

.model-container .close-button:hover{
    background-color: var(--yellow);
    color: var(--dark);
    border: 2px solid var(--dark);
    font-weight: 400;
}

.cars-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    gap: 15px;
}

.car {
    width: 300px;
    text-align: center;
}

.car img {
    width: 100%;  
    height: 190px; 
    object-fit: cover; 
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.car img:hover {
    transform: scale(1.1);
}

.car p {
    margin-top: 5px;
    font-weight: bold;
    font-size: 1rem;
    color: #ffffff;
}


.model-container {
    z-index: 1000;
    padding: 20px;
    display: none;
    transition: all 0.5s ease-in-out;
    background: rgb(24,19,109);
    position: absolute;
    top: -1000px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    height:fit-content ;
    margin: 30px;
    box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.423);
    border-radius: 10px;
  }
  
  .car-info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .car-info img {
    width: 800px;  
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .car-info h2 {
    margin: 0;
    font-size: 24px;
  }
  
  .car-info p {
    font-size: 16px;
    color: #333;
    max-width: 70%;
  }
  
  .back-button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 10px;
  }

  .back-button:hover {
    color: var(--yellow);
    font-weight: 600;
    scale: 1.2;
  }



















/*footer*/

.footer {
    background-color: #072044;
    color: #ffffff;
    padding: 4rem 0 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.footer-section {
    flex: 1;
    margin-bottom: 2rem;
    min-width: 250px;
}

.footer-logo {
    width: 150px;
    margin-bottom: 1rem;
    filter: brightness(0) invert(1);
}

.about p {
    margin-bottom: 1rem;
}

.social-icons a {
    color: #ffffff;
    margin-right: 1rem;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.fa-facebook-f:hover {
    color: #4a81ce;
    scale: 130%;
    rotate: 10deg;
}
.fa-twitter:hover {
    color: #4b8be6;
    scale: 130%;
    rotate: 10deg;
}
.fa-instagram:hover {
    color: #c45811;
    scale: 130%;
    rotate: 10deg;
}
.fa-youtube:hover {
    color: #ff0000;
    scale: 130%;
    rotate: 10deg;
}

.footer-section h3 {
    color: #4a81ce;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-align: center;
}

.links ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.links ul li {
    margin-bottom: 0.5rem;
}

.links ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.links ul li a:hover {
    color: var(--yellow);
    font-size: 20px;
}

.contact p {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

.contact i {
    margin-right: 0.5rem;
    color: #4a81ce;
}

.footer-bottom {
    background-color: #1d3553;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}